<ion-view id="page-creer-facture" title="Ajouter facture">
  <ion-nav-bar class="nav-title-slide-ios7">
  	<div class="buttons left-buttons">
		<button id="back" ng-click="goBack()"><i class="ion-chevron-left"></i></button>
	</div>
  </ion-nav-bar>
  <ion-content has-header="true" padding="true">
	<form id="ajoutfacture" novalidate="novalidate" on-valid-submit="createFacture(facture)">
      <ion-list>
      	<div class="row">
      		<div class="col">
				<label class="item-avatar item-input item-stacked-label validated">
		        <!--<label class="item-avatar with-bottom validated" type="item-text-wrap">-->
		          <span class="input-label">Nom du client</span>
		          <input required="required" type="text" value="ONZEDIX" name="name" ng-model="facture.name">
		          <i class="icon ion-alert-circled error"></i>
		        </label>
	    	</div>
      	</div>
      	<div class="row">
      		<div class="col">
		        <label class="item-avatar item-input item-stacked-label validated">
		          <span class="input-label totalht">Total HT</span>
		          <input required="required" class="input-toggle-ttc" type="number" value="1200" name="totalFacture" ng-model="facture.totalFacture">    
		          <i class="icon ion-alert-circled error-toggle error"></i>          
		          <ion-toggle class="toggle-ttc" ng-model="facture.ttc" toggle-class="toggle-calm">TTC ?</ion-toggle>
		        </label>
		    </div>
      	</div>
      	<div class="row">
      		<div class="col">
      			<label class="item-avatar item-input item-stacked-label validated">
		          <span class="input-label">Date d'envoi</span>
		          <input required="required" type="date" placeholder="14 Juillet 2014" name="date" ng-model="facture.date">
		          <i class="icon ion-alert-circled error"></i>
		        </label>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col">
      			<label class="fiftycent item-avatar item-input item-stacked-label validated">
		          <span class="input-label">Charges</span>
		          <input id="charges" required="required" class="textpercent" type="text" value="{{preferences.charges}}" name="charges" init-from-form ng-model="facture.charges">
		          <i class="icon ion-alert-circled error"></i>
		        </label>
      		</div>
      		<div class="col">
      			<label class="fiftycent item-avatar item-input item-stacked-label validated">
		          <span class="input-label">T.V.A.</span>
		          <input id="tva" required="required" class="textpercent" type="text" value="{{preferences.tva}}" name="tva" init-from-form ng-model="facture.tva">
		          <i class="icon ion-alert-circled error"></i>
		        </label>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col">
      			<label class="item-avatar item-input item-stacked-label validated">
		          <ion-toggle name="validation" ng-model="facture.validation" toggle-class="toggle-calm">Facture validée ?</ion-toggle>
		        </label>
      		</div>
      	</div>
      </ion-list>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Enregistrer</button>
      </div>
    </form>
  </ion-content>
</ion-view>