<ion-view id="page-facture" title="{{facture.name}}">
  <ion-nav-bar class="nav-title-slide-ios7">
  	<div class="buttons left-buttons">
		<button id="back" ng-click="goBack()"><i class="ion-chevron-left"></i></button>
	</div>
  </ion-nav-bar>
  <ion-content has-header="true" padding="true">
  	<form ng-submit="editFacture(facture)">
		<ion-list>
			<ion-item class="item-avatar" type="item-text-wrap">
				<div class="row">
				  <div class="col">Total HT</div>
				  <div class="col">T.V.A.</div>
				  <div class="col">Charges</div>
				  <div class="col">Total TTC</div>
				</div>
			</ion-item>
			<ion-item class="item-avatar item-stacked-label" type="item-text-wrap">
	        	<div class="row">
				  <!--<div class="col"><input id="totalht" type="text" value="{{(facture.totalFacture * 100/(facture.tva + 100) * 100/(facture.charges + 100)).toFixed(2)}}" ng-model="facture.ht" init-from-form ng-model-onblur ng-change="updatettc()" /></div>-->
				  <div class="col"><input id="totalht" type="text" value="{{(facture.totalFacture * (100/(facture.tva + 100))).toFixed(2)}}" ng-model="facture.ht" init-from-form ng-model-onblur ng-change="updatettc()" /></div>
				  <div class="col"><input type="text" value="{{facture.tva}}" ng-model="facture.tva" /></div>
				  <div class="col"><input type="text" value="{{facture.charges}}" ng-model="facture.charges" /></div>
				  <div class="col"><input id="totalttc" type="text" value="{{facture.totalFacture}}" ng-model="facture.totalFacture" init-from-form ng-model-onblur ng-change="updateht()" /></div>
				</div>
			</ion-item>
			<ion-item class="item-avatar" type="item-text-wrap">
				<div class="row">
					<div class="col">Payée</div>
					<div class="col">Date</div>
				</div>
			</ion-item>
			<ion-item class="item-avatar item-stacked-label" type="item-text-wrap">
				<div class="row">
				  <div class="col"><ion-checkbox ng-checked="facture.payee" ng-model="facture.payee"></ion-checkbox></div>
				  <div class="col"><input align="bottom" type="date" value="{{facture.date}}" ng-model="facture.date"></div>
				</div>
			</ion-item>
		</ion-list>
		<button type="submit" class="button button-block button-positive">Enregistrer</button>
	</form>
  </ion-content>
</ion-view>