/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

$black: #000;
$white: #FFF;
$greyfont: #F6F6F5;
$greenone: #D1FB8B;
$greentwo: #019159;
$greenthree: #488F2B;
$greenfour: #018F2A;
$height: 100%;

/* HOME GLOBAL */

#homecontainer {
	p, h3, h4, h5 {
		color: $white;
	}
}

#homecontainer .scroll {
	height: $height;
}

#homecontainer .row {
	height: $height/2;
	padding: 0;
}

#homecontainer .col-50 {
	padding-top: 33%;
    text-align: center;
}

#colone {
	background: $greenone;
}
#coltwo {
	background: $greentwo;
}
#colthree {
	background: $greenthree;
}
#colfour {
	background: $greenfour;
}

/* SLIDES */

#homecontainer .menu {
	background: $black;
	padding-top: 10px;

	h4, i, span {
		color: $greyfont;
	}
	h4 {
		float: left;
		margin-left: 10px;
	}
	i {
		float: right;
		margin-right: 15px;
    	margin-top: 7px;
	}
	.list {
		margin-top: 30%;
	}

	.item-stacked-label {
		border: none;
	}

	.ion-ios7-close-outline {
		font-size: 30px;
		font-weight: bold;
	}
}

#homecontainer .menu-right {
	h4 {
		float: right;
		margin-right: 10px;
	}
	i {
		float: left;
		margin-left: 15px;
	}
	.input-toggle-ttc {
		width: 50%;
		float: left;
	}
	.item-toggle {
		background: transparent;
		border: none;
		color: $greyfont;
		margin-top: -6px;
	}
	.toggle-ttc {
		width: 50%;
		float: left;
	}
	.fiftycent {
		width: 50%;
		float: left;
		text-align: center;
	}
}

/* EXTRAS */

.has-tabs, .bar-footer.has-tabs {
	bottom: 0;
}