/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

$black: #000;
$white: #FFF;
$greyfont: #F6F6F5;
$greenone: #D1FB8B;
$greentwo: #019159;
$greenthree: #488F2B;
$greenfour: #018F2A;
$height: 100%;
$reddelete : #EF4E3A;

/* HOME GLOBAL */

.fade-bar {
  height: 20px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  opacity: 0.75;
  background-color: #000;
}

.pane, .view {
	height: 100.21%;
}

#homecontainer {
	p, h3, h4, h5 {
		color: $white;
	}
}

#homecontainer .scroll {
	height: $height;
}

#homecontainer .row {
	height: $height/2;
	padding: 0;
}

#homecontainer .col-50 {
	padding-top: 33%;
    text-align: center;
}

#colone {
	background: $greenone;
}
#coltwo {
	background: $greentwo;
}
#colthree {
	background: $greenthree;
}
#colfour {
	background: $greenfour;
}

/* SLIDES */

#homecontainer .menu {
	background: $black;
	padding-top: 10px;

	h4, i, span {
		color: $greyfont;
	}
	h4 {
		float: left;
		margin-left: 10px;
		margin-top: 25px;
	}
	i {
    	margin-left: 48%;
	}
	.ion-ios7-close-outline::before {
		margin-top: 22px;
	}
	.item-stacked-label {
		border: none;
	}
	input {
		width: 98%;
		text-align: center;
	}
}

.ion-ios7-close-outline {
	font-size: 30px;
	font-weight: bold;
}

#homecontainer .menu-right {
	h4 {
		float: right;
		margin-right: 10px;
	}
	i {
		margin-left: 15px;
	}
	.input-toggle-ttc {
		width: 50%;
		float: left;
	}
	.item-toggle {
		background: transparent;
		border: none;
		color: $greyfont;
		margin-top: -6px;
	}
	.toggle-ttc {
		width: 50%;
		float: left;
	}
	.fiftycent {
		width: 50%;
		float: left;
		text-align: center;
	}
	button {
		border-color: $white;
		background-color: $white;
		color: $black;
		width: 98%;
		margin: 0 auto;
	}

}

/* EXTRAS */

.has-tabs, .bar-footer.has-tabs {
	bottom: 0;
}

/* FORM VALIDATION */

form i.icon.error {
  color: #ef4e3a;
}

form input + i.icon.error {
  display: none;
  margin-left: 8px;
}

form.ng-submitted input.ng-invalid + i.icon.error {
  display: block;
  right: 12px;
  margin-top: -32px;
  position: absolute;
}

/* Get the one after the toggle */
form.ng-submitted input.ng-invalid + div.toggle-ttc + i.icon.error {
  margin-left: -154px;
  margin-top: 2px;
}

form .has-error input {
  border-left: 5px solid #cc2511;
}

form .has-success input {
  border-left: 5px solid #3d8b3d;
}

form.ng-submitted input.ng-valid + i.icon.error {
  display: none;
}

/* TAB FACTURES */

#tab-factures {
	background: $black;
	#headtab {
		margin-top: 15px;
			h4, i, button {
			color: $greyfont;
		}
		h4, i {
			float: left;
		}
		i {
			margin-top: 6px;
			margin-left: 10px;
		}
		h4 {
			text-align: center;
			/*margin-left: -10px;*/
		}
	}
	.ion-ios7-minus-outline {
		margin-left: -4px;
		.button-icon .icon:before, .button-icon.icon:before {

		}
	}
	.button-icon {
		padding: 0 4px;
	}
	.button-icon .icon:before, .button-icon.icon:before {
		font-size: 30px;
		font-weight: bold;
		margin-top: -1px;
	}
	.item-reorder .button.icon {
		color: $reddelete;
	}
	.item-avatar {
		border: none;
		background: $black;
		h2, .col {
			color: $greyfont;
		}
		.col {
			margin-left: -10px;
		}
		&.item-complex {
			.col {
				font-size: 90%;
			}
		}
		a {
			background: $black;
			padding-left: 15px;
		}
		.item-options {
			top: 23%;
			height: 67%;
		}
	}
	$mr: -15px;
	.item-avatar:nth-child(1) {
		padding-left: 15px;
		background: $black;
		.row:nth-child(1) {
			.col:nth-child(1) {
				margin-right: $mr;
			}
			.col:nth-child(2) {
				margin-right: $mr*2;
			}
			.col:nth-child(3) {
				margin-right: $mr*2;
			}
			.col:nth-child(4) {
				margin-right: $mr*3;
			}
		}
	}
	.item-complex .col:nth-child(4) {
		margin-right: $mr*3;
	}
}

/* PAGE FACTURE EN DÉTAILS */

#page-facture {
	background: $black;
	ion-nav-bar {
		background: $black;
		border: none;
		ion-nav-back-button {
			color: $greyfont;
		}
		h1 {
			color: $greyfont;
		}
		#back, #edit {
			background: $black;
			border: none;
			color: $greyfont;
			margin-top: -5px;
			font-size: 30px;
		}
		.title:nth-child(2) {
			margin-top: 25px;
			font-size: 97%;
		}
	}
	ion-item {
		background: $black;
		color: $greyfont;
		border: none;
		padding-left: 0;
	}
	.col {
		text-align: center;
		font-size: 90%;
	}
	input {
		margin: 0 auto;
		text-align: center;
	}
	/*input {
		text-align: left;
	}*/
	button {
		border-color: $white;
		background-color: $white;
		color: $black;
	}
	.item-checkbox {
		padding-left: 0px;
		border: none;
		background: $black;
		.checkbox {
			top: 20px;
		}
		.checkbox-icon {
			margin: 0 auto;
		}
		.checkbox-icon:before {
			border-color: $greenfour;
		}
		.checkbox input:checked + .checkbox-icon:before {
			background: $greentwo;
		}
	}
	input[type="date"] {
		text-align: left;
		/*padding-top: 10px;*/
	}
	.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
		min-height: 30px;
	}
}